<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>计件工资系统</title>
    <link rel = "Shortcut Icon" href='/tp5/favicon.ico'>
    <!--引入jquery-->
    <script src="__STATIC__/jquery/jquery-1.12.4.min.js"></script>
    <!--引入toastr-->
    <link href="__STATIC__/toastr/toastr.min.css" rel="stylesheet">
    <script src="__STATIC__/toastr/toastr.min.js"></script>
    <!--引入nice-validator-1.1.4校验-->
    <script src="__STATIC__/nice-validator-1.1.4/dist/jquery.validator.min.js?local=zh-CN"></script>
    <!--引入layDate-v5.0.9 时间插件-->
    <script src="__STATIC__/layDate-v5.0.9/laydate/laydate.js"></script>
    <!--<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>-->
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body{
            background: #f1f4f6;
        }
        .test{
            /*border:1px solid red;*/
        }
        .table th, .table td {
            text-align: center;
            vertical-align: middle!important;
        }
    </style>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "1000",
            "hideDuration": "1000",
            "timeOut": "1000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
</head>

<body>
<nav class="navbar navbar-default" style="border:0px solid;border-radius: 0px;margin-bottom: 0px;background-color: #15a589;">
    <div class="navbar-header">
        <h1 style="margin-left: 10px;font-family: cursive;">计件工资系统</h1>
    </div>
    <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;margin-top:7px;">
        <li><a href="#" style="color: white;">用户名：mibine</a></li>
        <li><a href="#" style="color: white;">退出</a></li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <!--左菜单-->
        <div class="col-md-2 col-sm-3 col-xs-3 test" style="background-color: white;min-width: 110px;min-height: 540px;height: 540px;padding-left: 0px;padding-right: 0px;">

            <div class="list-group " style="margin-bottom: 0px;">
                <a href="#" class="list-group-item active "  style="border-radius: 0px; background-color: teal;">
                    常规管理
                    <span class="glyphicon glyphicon-triangle-bottom " style="float: right;" ></span>
                </a>
                <a href="{:url('EmployeeManager/index')}" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span> 员工管理</a>
                <a href="{:url('OrderManager/index')}" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span> 订单管理</a>
                <a href="{:url('OrderDetailManager/index')}" class="list-group-item" ><span class="glyphicon glyphicon-list-alt"></span> 订单详情管理</a>
                <a href="{:url('ProductManager/index')}" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span> 产档管理</a>
            </div>
            <div class="list-group " style="margin-bottom: 0px;">
                <a href="#" class="list-group-item active "  style="border-radius: 0px; background-color: teal;">
                    报表统计
                    <span class="glyphicon glyphicon-triangle-bottom " style="float: right;" ></span>
                </a>
                <a href="{:url('Salary/index')}" class="list-group-item"><span class="glyphicon glyphicon-list-alt"></span> 工资统计</a>
            </div>
            <div class="list-group"  style="margin-bottom: 0px;" >
                <a href="#" class="list-group-item active" style="border-radius: 0px; background-color: teal;">
                    系统管理
                    <span class="glyphicon glyphicon-triangle-bottom " style="float: right;" ></span>
                </a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-user"></span> 用户列表</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-cog"></span> 系统配置</a>
                <a href="#" class="list-group-item"><span class="glyphicon glyphicon-globe"></span> 系统信息</a>
            </div>
        </div>
        <!--内容区域-->
        <div class="col-md-10 col-sm-9 col-xs-9 test " style="min-width: 110px;min-height: 540px;">
            {__CONTENT__}
        </div>
    </div>
    <div class="row">
        <footer style="text-align: center;">
            <strong>Copyright &copy; 2018 <a href="http://mibine.me" target="_blank">Mibine</a>.</strong> All rights reserved.
        </footer>
    </div>
</div>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<!--<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>-->
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>